VITE_WHATSAPP_NUMBER=YOUR_WHATSAPP_NUMBER
VITE_BUSINESS_NAME=Harvest Basket
VITE_BUSINESS_TAGLINE=Wholesale food, made simple
VITE_BUSINESS_PHONE=+1 (555) 123-4567
VITE_BUSINESS_PHONE_DIAL=+15551234567
VITE_BUSINESS_HOURS=Mon–Sat, 8am–6pm
VITE_DELIVERY_AREA=Serving your neighborhood
VITE_CURRENCY=USD
VITE_LOCALE=en-US
VITE_INSTAGRAM_URL=https://instagram.com
VITE_FACEBOOK_URL=https://facebook.com
